.root {
  -fx-mainColor: rgba(0,200,0,1);
  -fx-darkColor: rgba(0,80,0,1);
  -fx-textNormal: rgba(0,150,0,1);
  -fx-textHover: rgba(200,250,200,1);
}

.root {
  -fx-background-color: rgba(0,0,0,1);
  -fx-text-fill: -fx-textNormal;
}

.button {
  -fx-background-color: rgba(0,0,0,1);
  -fx-text-fill: -fx-textNormal;
  -fx-border: 3px;
  -fx-border-color: -fx-mainColor;
}

.button:hover {
  -fx-background-color: -fx-darkColor;
  -fx-text-fill: -fx-textHover;
}

.combo-box {
  -fx-background-color: rgba(0,0,0,1);
  -fx-border-color: -fx-mainColor;
}

.combo-box-popup .list-view {
  -fx-background-color: -fx-mainColor;
}

.combo-box-popup .list-view .list-cell {
  -fx-background-color: rgba(0,0,0,1);
  -fx-text-fill: -fx-textNormal;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
  -fx-background-color: -fx-mainColor;
  -fx-text-fill: -fx-textHover;
}

.combo-box-popup .list-view .list-cell:filled:hover {
  -fx-background-color: -fx-darkColor;
  -fx-text-fill: -fx-textHover;
}

.combo-box .cell {
  -fx-background-color: rgba(0,0,0,1);
  -fx-text-fill: -fx-textNormal;
}

.combo-box .arrow{
  -fx-background-color: -fx-mainColor;
}

.combo-box .arrow-button  {
  -fx-background-color: rgba(0,0,0,1);
  -fx-background-radius: 0;
}

.combo-box:hover .cell {
  -fx-background-color: -fx-darkColor;
  -fx-text-fill: -fx-textHover;
}

.combo-box:hover .arrow {
  -fx-background-color: -fx-textHover;
}

.combo-box:hover .arrow-button {
  -fx-background-color: -fx-darkColor;
}

.combo-box:showing .cell {
  -fx-background-color: -fx-darkColor;
  -fx-text-fill: -fx-textHover;
}

.combo-box:showing .arrow {
  -fx-background-color: -fx-textHover;
}

.combo-box:showing .arrow-button {
  -fx-background-color: -fx-darkColor;
}

.combo-box-base:disabled {
  -fx-opacity: .4;
}

.check-box {
  -fx-text-fill: -fx-textNormal;
}

.check-box .box {
  -fx-background-color: rgba(0,0,0,1);
  -fx-border-color: -fx-mainColor;
  -fx-border-radius: 0;
}

.check-box:selected .mark {
  -fx-background-color: -fx-darkColor;
}


.slider > .track {
  -fx-background-color: -fx-darkColor;
  -fx-background-radius: 0;
}

.slider .thumb {
  -fx-color: -fx-mainColor;
  -fx-background-color: -fx-mainColor;
  -fx-border-width: 0;
}

.slider:focused .thumb {
  -fx-color: -fx-mainColor;
  -fx-background-color: -fx-mainColor;
  -fx-border-width: 0;
}

#text{
  -fx-border: solid, thin;
  -fx-background-color: rgba(0,0,0,1);
  -fx-text-fill: -fx-textNormal;
  -fx-border: 3px;
  -fx-border-color: -fx-mainColor;
}

#grille {
  -fx-border: solid, thin;
  -fx-background-color: rgba(0,0,0,1);
  -fx-border: 3px;
  -fx-border-color: -fx-mainColor;
}

#ligne {
  -fx-border: solid, thin;
  -fx-background-color: rgba(0,0,0,1);
  -fx-border: 3px;
  -fx-border-color: -fx-darkColor;
}

.table-view {
  -fx-background-color: transparent;
}

.table-view:focused {
  -fx-background-color: transparent;
}

.table-view .column-header-background {
  -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-textNormal;
}

.table-view:hover .column-header-background:hover .label:hover {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-textHover;
}

.table-view {
  -fx-control-inner-background: rgba(0,0,0,1);
  -fx-base: rgba(0,0,0,1);
  -fx-background-color: transparent;
  -fx-border-color: -fx-mainColor;
  -fx-table-cell-border-color: -fx-darkColor;
}

.table-view .column-header-background .label {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-textNormal;
}

.table-view:hover .column-header-background:hover .label:hover {
  -fx-background-color: transparent;
  -fx-text-fill: -fx-textHover;
}
